.profile{
    width: 400px;
    height: 600px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 20px;
}

.profilePicture:focus-visible{
    border: white 4px solid;
}




.profileWrapper{
    display: flex;
    justify-content: center;
}

.updatePfp{
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logoutBtn{
    margin-top: auto;
}



