
.post{
    background-color: #4A61A4;
    width: 100%;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    color: white;
}

.post, a.post:visited{
    cursor: pointer;
    color: unset;
}

a.post:hover{
    color: unset;
    background-color: red;
}

.post h2{
    margin-top: 0;
}