.post{
    background-color: var(--primary-color);
    width: 100%;
    min-height: 200px;
    height: auto;
    max-height: 300px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

.gravityCounter{
    margin-top: auto;
    width: 110px;
}

.post:hover{
    color: unset;
    background-color: red;
}

.post h2, .post h5{
    margin-top: 0;
    margin-bottom: 0;
}