.counter{
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    margin-top: auto;
    width: fit-content;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px
}


.counter button{
    background-color: var(--accent-color);
    width: 30px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
}