.counter{
    background-color: var(--ascent-color);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}


.counter button{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}