.post, .userProfile{
    width: 60%;
    height: 100%;
    display: flex;
    padding: 30px 60px;
    flex-direction: column;
    background-color: #2E1B49;
    align-content: center;
    min-height: 300px;
}

.mainPart{
    border-bottom: white 1px solid;
    padding-bottom: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2E1B49;
    align-content: center;
    min-height: 300px;
}

.post{
    border-radius: 0 10px 10px 0;
}

.comments{
    margin-top: 30px;
}

.comments > div{
    margin-bottom: 30px;
}

.comments > div > textarea{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
    max-height: 100px;
    min-height: 60px;
}

.submitBtn, .cancelBtn{
    width: 80px;
    margin-top: 10px;
    height: 30px;
    border-radius: 10px;
    padding: 4px;
    vertical-align: middle;
}

.submitBtn{
    background-color: var(--accent-color);
}

.cancelBtn{
    background-color: var(--primary-color);
    margin-left: 10px;
}

.userProfile{
    width: 80px;
    background-color: #2e1b49a4;
    display: flex;
    align-items: center;
    border-radius: 10px 0 0 10px;
    max-height: 100px;
}

.profilePicture{
    width: 45px;
    height: 45px;
    border-radius: 30px;
    border: white 1px solid;
    background-color: grey;
}

.postWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.post h1, .post h3{
    margin: 0;
}

.title{
    margin-bottom: 20px;
}

.post h1{
    font-size: 2.2rem;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.image{
    max-width: 60%;
    margin-bottom: 30px;
    border-radius: 10px;
}
